<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>xus2.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>XusProtocolServlet</servlet-name>
    <servlet-class>xus2.server.XusProtocolServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/xus2/greet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>XusProtocolServlet</servlet-name>
    <url-pattern>/xus2/xus</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Xus2.html</welcome-file>
  </welcome-file-list>

</web-app>
